<%- include('partials/header', { pageTitle: 'Jhon' }) %>

<div class="jhon-page">
  <p class="jhon-text">This is Jhon</p>
  <img class="jhon-img" src="/Jhon.png" alt="Jhon">
</div>

<%- include('partials/footer') %>
